.camera-area{
    display: flex;
    justify-content: center;
}
.qr-area{
    width: 50%;
}
.inputField{
    
    padding: 10px;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
}
.Generate{
   
   margin: 10px;
   
}
.btn{
    padding: 15px;
   
}
.po{
    display: flex;
    justify-content: center;
}
.imageclass{
    height: 25%;
    width: 50%;

}